multipass/cloud-init/ssh_key.txt
multipass/cloud-init/common_processed.yaml
ansible/inventories/kubernetes.yml

provision-cli

# Go dependency directories
/vendor/

# Go test cache
*.test
*.out

# IDE files
.idea/
.vscode/
*.swp
*.swo
